{% extends 'menu.html' %}
{% block content %}
<h3>Confirmer la suppression de la consultation pour M/Mme  {{ consultation.patient.last_name }}</h3>
<p>Date : {{ consultation.date }}</p>
<p>Heure : {{ consultation.heure }}</p>
<p>Patient : {{ consultation.patient }}</p>
<p>Medecin : {{ consultation.medecin }}</p>
<p>Diagnostic : {{ consultation.diagnostic }}</p>

<form method="POST" class="">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
</form>
{% endblock content %}